//@import "../../styles/variables";
@import "../../styles/fonts";

.institutionsBg {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;

    li {
      box-sizing: border-box;
      padding: 1vh .5vw;
      display: inline-block;
      width: 10vw;
      font-family: 'open_sansregular', sans-serif;
      font-size: 2.4vh;
      color: #3c3c3c;
      text-align: center;
      border: 1px solid transparent;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 1px dimgray;
      }

      &.active {
        border: 1px solid black;
      }
    }
  }

  p {
    text-align: center;
    font-family: 'open_sansregular', sans-serif;
    font-size: 2vh;
    width: 25vw;
    color: #3c3c3c;
  }
}