//@import '../../styles/variables';

.institutions {
  margin: 0 auto;
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;

  &__list {
    flex: 9;
    width: 100%;

    .institutionRow {
      height: calc(100%/3);
      display: flex;
      justify-content: space-between;

      .institutionName {

        h3 {
          font-family: 'open_sansregular', sans-serif;
          font-weight: normal;
          font-size: 3vh;
          color: #3c3c3c;
          text-align: left;
        }

        p {
          margin-top: 1vh;
          font-family: 'merriweather_lightitalic', sans-serif;
          font-size: 1.5vh;
          color: #3c3c3c;
          text-align: left;
          width: 26vw;
        }
      }

      .institutionDescription {
        box-sizing: border-box;
        padding-top: 4vh;

        p {
          font-family: 'open_sansregular', sans-serif;
          font-size: 1.5vh;
          color: #3c3c3c;
          text-align: right;
        }
      }

      .line {
        height: 1vh;
        width: 100%;
        border-width: 0 0 0.2vh;
        border-style: solid;
        border-color: #3c3c3c;
      }
    }
  }

  .pageNumbers {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      margin: 0 1vw;
      box-sizing: border-box;
      padding: 1vh 1vw;
      font-size: 3vh;
      font-family: 'open_sansregular', sans-serif;
      color: #3c3c3c;
      border: 1px solid transparent;
      transition-duration: .3s;

      &:hover {
        cursor: pointer;
        //box-shadow: 0 0 10px 1px dimgray;
        background-color: darken(white, 5%);
      }

      &.active {
        border: 1px solid black;
      }
    }
  }
}