//@import "../../styles/variables";
@import "../../styles/fonts";

.headerSection {
  width: 100%;
  height: 80vh;
  background-image: url("header_start_img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nav {
  margin-right: 15vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: 'open_sansregular', sans-serif;

  li {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border: 1px solid black;
      box-shadow: 0 0 10px 1px dimgray;
    }
  }
}

.menu.upperMenu li {
  &:hover {
    border: 1px solid #f8c60f;
    box-shadow: 0 0 10px 1px #f8c60f;
  }

  a {
    font-size: 1.7vh;
    color: #737373;
  }
}

.menu li {
  display: inline-block;
  margin-left: 2vw;
  list-style: none;

  a {
    color: #3c3c3c;
    font-size: 2.5vh;
  }

}

.headerStart {
  margin-right: 8vw;
  margin-bottom: 6vh;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StartBtns {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}