.stats {
  background-image: url("../images/Bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: #3c3c3c;
}