.FormGivePage {
  width: 100%;
  height: 95vh;
  background-image: url("barrett-ward-720419-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 320px -530px;
  background-size: cover;
}